<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    {{>header}}
    <p>  List of projects Done </p>
    <footer>
      <p> Copyright {{year}} </p>
    </footer>
  </body>
</html>
